.App {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'header header header header'
    'main main main main';
  height: 100vh;
}

